<ion-header>
  <ion-toolbar>
    <ion-title>add-player</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating">Nickname</ion-label>
      <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password"></ion-input>
 </ion-item>
 <ion-item>
    <ion-label position="floating">Confirmar senha</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-button size="medium" slot="end" color="primary">Confirmar</ion-button>
    <ion-button size="medium" slot="end" color="danger">Cancelar</ion-button>
  </ion-item>
  

</ion-content>
