<ion-header>
  <ion-toolbar>
    <ion-title>perfil do game</ion-title>
  </ion-toolbar>
</ion-header>
<ion-item lines="none">
   <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
</ion-item>
<ion-content>
<ion-item>
  <ion-text>nome do jogo: {{game.nome}}</ion-text><p></p>
</ion-item>
<ion-item>
  <ion-text>categoria: {{game.categoria}}</ion-text><p></p>
</ion-item>
<ion-item>
  <ion-text>console: {{game.console}}</ion-text>
</ion-item>
<ion-item>
  <ion-text>descrição: {{game.descricao}}</ion-text>
</ion-item>
<ion-item>
  <ion-text>Quantidade: {{game.quant}}</ion-text>
</ion-item>
<ion-item>
  <ion-text>Valor: {{game.valor}}</ion-text>
</ion-item>
<ion-item>
  <ion-text>Ativo: {{game.ativo}}</ion-text>
</ion-item>
</ion-content>