<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-sanitize.js"></script>
</head>

<body ng-app="ex74" ng-controller="ctrl74">
    <input type="number" ng-model="ini" placeholder="inicio"><p></p>

    <div ng-bind-html="saida(ini)" ng-if="ini"></div>
</body>

</html>
<script>
    var app = angular.module('ex74', ['ngSanitize']);
    app.controller("ctrl74", function ($scope, $sce) {
        $scope.saida = function (ini) {
            let result = "";
            a = $scope.ini;
            for (i = 1; i <= 10; i++) {
                let b = a*i;
                    result += "<p>"+ a + " x " +  i + " = " + b +"</p>"
            }
            return $sce.trustAsHtml(result)
        }
    })

</script>